<div class="section-block section-block-intro">
 <div class="container">
   <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 m-auto"> 
	 <h2>Your Profile</h2>
   </div>
	 <div class="edit-profile col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 m-auto">
	  <div class="row">
	   <div class="col-8">
		   <div class="card-body">
	        <h5 class="card-title">Edit Your Profile</h5>
	         <% if @user.img.present? %>
           <%= image_tag @user.img.url, class: "img-thumbnail profile-img-edit" %>
           <% else %>
           <%= gravatar_for @user %>
           <% end %>
            <div class="card-block">
  	         <p class="card-text">Update your <a href="https://en.gravatar.com/" target="_blank">gravatar image</a> or upload a new profile picture</p>
             <%= render 'img_form' %>
	          </div>
       </div>
   </div>


<!-- MODAL TRIGGER 1 -->
    <div class="col-4"><br>
    <button class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#myProfile">Edit Profile</button>

    <!-- MODAL 1 -->
    <div class="modal" id="myProfile">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit your profile</h5>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <%= render 'profile_form' %>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> 
</div>
</div>

   <hr><br>

   <div class="row">
	  <div class="col-8">
		  <div class="card-body">
	        <h5 class="card-title">Edit Your Password</h5>
	         <p class="card-text">Update your devise password</p>
     </div>
   </div>


<!-- MODAL TRIGGER 2 -->
    <div class="col-4"><br>
    <button class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#myPassword">Edit Password</button>

    <!-- MODAL 2 -->
    <div class="modal" id="myPassword">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change Your Password</h5>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <%= render 'password_form' %><br>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
  <hr><br>

  <div class="row">
	 <div class="col-8">
       <div class="card-body">
         <h5 class="card-title">Cancel your account</h5>     
             <p class="card-text">Be careful, this can't be undone</p>
            </div>
       </div>

    <!-- MODAL TRIGGER 3 -->
    <div class="col-4"><br>
    <%= button_to "Cancel Account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger btn-lg" %></p>
	 
	 
	 	</div>
	 	 	
	 	</div>
	 </div>
	</div>
