<div class="section-block section-block-intro">
 <div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">  

<h1 class="mb-4">All Users</h1>

 <table class="table table-striped">
   <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th scope="row">First Name</th>
      <th scope="row">Last Name</th>
      <th scope="row">Email</th>
      <th scope="row">View</th>
      <th scope="row">Edit</th>
      <th scope="row">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= User.count %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'View', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

    </div>
   </div>
  </div>
</div>