<p id="notice"><%= notice %></p>

<p>
  <strong>Titletag:</strong>
  <%= @page.titletag %>
</p>

<p>
  <strong>Meta:</strong>
  <%= @page.meta %>
</p>

<p>
  <strong>Tile:</strong>
  <%= @page.tile %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

