<p id="notice"><%= notice %></p>

<p>
  <strong>Title tag:</strong>
  <%= @post.title_tag %>
</p>

<p>
  <strong>Meta:</strong>
  <%= @post.meta %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', dashboard_admin_post_path(@post) %> |
<%= link_to 'Back', dashboard_posts_path %>
